:root {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p, input {
    margin: 0;
    padding: 0;
}

input, textarea {
    border-color: rgba(44,105,140,0.3);
    border-radius: 5px;
    width: 100%;
    min-height: 2rem;
    padding: 5px;
    margin-top: 5px;
}

textarea {
    min-height: 5rem;
}

