.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.profile .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile > h1 {
    align-self: flex-start;
}

button {
    align-self: flex-end;
}